---
layout: general_page
---

<main>

    <section class="grey-bg">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row pt-60" id="section1">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin" >
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/about-us-section1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" >
                        <div class="section-title">
                            <h2>{{page.sections.i1.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                {{page.sections.i1.text | newline_to_br}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row pt-60" id="section2">
                    <div class="col-xl-6 col-lg-6 mb-40" >
                        <div class="section-title">
                            <h2>{{page.sections.i2.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i2.text | newline_to_br}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin " >
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/about-us-section2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section3">
        <div class="jkl-home-parallex-about-us jkl-home-parallex d-flex align-items-center">
            <div class="container-fluid">
                <div class="jkl-home-about-info-white-text">


                    <section>
                        <div class="container-fluid pt-25">
                            <div class="jkl-keypeople container" style="background-color: #00000000">

                                <div class="row pt-60">

                                    <div class="col-xl-4 col-lg-6 text-center">
                                        <div class="col pb-20 pt-20 md-margin" data-aos="fade-right">
                                            <div class="jkl-home-card-img">
                                                <img style="width: 70%" src="{{site.baseurl}}/assets/images/about-us-section3-card1.jpg" class="img-fluid"
                                                     alt="">
                                            </div>
                                            <div class="mt-20">
                                                <h2>{{page.sections.i3.cards.i1.title1}}</h2>
                                                <h3>{{page.sections.i3.cards.i1.title2}}</h3>
                                            </div>
                                            <div class="about-content">
                                                <p>{{page.sections.i3.cards.i1.text | newline_to_br}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 text-center">
                                        <div class="col pb-20 pt-20 md-margin" data-aos="zoom-in">
                                            <div class="jkl-home-card-img">
                                                <img style="width: 70%" src="{{site.baseurl}}/assets/images/about-us-section3-card2.jpg" class="img-fluid"
                                                     alt="">
                                            </div>
                                            <div class="mt-20">
                                                <h2>{{page.sections.i3.cards.i2.title1}}</h2>
                                                <h3>{{page.sections.i3.cards.i2.title2}}</h3>
                                            </div>
                                            <div class="about-content">
                                                <p>{{page.sections.i3.cards.i2.text | newline_to_br}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 text-center">
                                        <div class="col pb-20 pt-20 md-margin" data-aos="fade-left">
                                            <div class="jkl-home-card-img">
                                                <img style="width: 70%" src="{{site.baseurl}}/assets/images/about-us-section3-card3.jpg" class="img-fluid"
                                                     alt="">
                                            </div>
                                            <div class="mt-20">
                                                <h2>{{page.sections.i3.cards.i3.title1}}</h2>
                                                <h3>{{page.sections.i3.cards.i3.title2}}</h3>
                                            </div>
                                            <div class="about-content">
                                                <p>{{page.sections.i3.cards.i3.text | newline_to_br}}</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="jkl-icon mb-50">
                        <div class="container-fluid pt-50">
                            <div class="container">
                                <div class="row pt-60">
                                    <div class="col-xl-6 col-lg-6 mb-40 text-center" data-aos="fade-right">
                                        <span class="lnr lnr-rocket"></span>

                                        <div class="section-title service-title">
                                            <h2>{{page.sections.i3.cards.i4.title}}</h2>
                                        </div>
                                        <div class="about-content mt-25">
                                            <p>{{page.sections.i3.cards.i4.text | newline_to_br}}</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 mb-40 text-center" data-aos="fade-left">
                                        <span class="lnr lnr-eye"></span>

                                        <div class="section-title service-title">
                                            <h2>{{page.sections.i3.cards.i5.title}}</h2>
                                        </div>
                                        <div class="about-content mt-25">
                                            <p>{{page.sections.i3.cards.i5.text | newline_to_br}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="section4" class="">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row pt-30">
                    <div class="col-xl-12 text-center mb-40" data-aos="fade-up">
                        <div class="section-title service-title">
                            <h2>{{page.sections.i4.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                {{page.sections.i4.text | newline_to_br}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>