---
layout: general_page
---

<main>
    <section class="grey-bg academics-block">
        <div class="container-fluid pt-50">
            <div class="container">

                <div class="row pt-60" id="section1">
                    <div class="col-xl-6 col-lg-6 mb-40" >
                        <div class="section-title">
                            <h2>{{page.sections.i1.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i1.text | newline_to_br}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin " >
                        <div id="section1-img" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">

                            <ul class="carousel-indicators">
                                {% for image in page.sections.i1.images %}
                                <li data-target="#section1-img" data-slide-to="{{forloop.index | minus: 1}}" {% if forloop.index == 1 %} class="active" {% endif %}></li>

                                {% endfor %}
                            </ul>

                            <div class="carousel-inner">
                                {% for image in page.sections.i1.images %}
                                <div class="carousel-item {% if forloop.index == 1 %} active {% endif %}" >
                                    <img src="{{site.baseurl}}/assets/images/{{image}}" width="100%">
                                </div>
                                {% endfor %}


                            </div>


                        </div>

                    </div>
                </div>
               <!-- <div class="row pt-60" id="section2">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" >
                        <div class="section-title">
                            <h2>{{page.sections.i2.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i2.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div> -->
            </div>
        </div>
    </section>


    <section id="section3">
        <div class="container-fluid jkl-scroll-container jkl-scroll-container-academics pt-50 pb-50" data-hijacking="off" data-animation="rotate">
            <div class="container pt-1" style="background-color: #000000C9;">
                <div class="row ">
                    <div class="col-xl-12 text-center mt-20 ">
                        <div class="section-title service-title jkl-academics-labs">
                            <h2>{{page.sections.i3.title}}</h2>
                        </div>
                    </div>
                </div>
                <section class=" jkl-home-about-info-white-text">
                    <div class="row pt-60">
                        <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-right">
                            <div class="jkl-home-card-img">
                                <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i1.image}}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                            <div class="section-title">
                                <h2>{{page.sections.i3.cards.i1.title}}</h2>
                            </div>
                            <div class="about-content">
                                <p>{{page.sections.i3.cards.i1.text | newline_to_br}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="row pt-60">
                        <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                            <div class="section-title">
                                <h2>{{page.sections.i3.cards.i2.title}}</h2>
                            </div>
                            <div class="about-content">
                                <p>{{page.sections.i3.cards.i2.text | newline_to_br}}</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                            <div class="jkl-home-card-img">
                                <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i2.image}}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <hr class="col ml-40 ">
                    </div>
                    
                    <div class="row pt-60">
                        <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-right">
                            <div class="jkl-home-card-img">
                                <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i3.image}}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                            <div class="section-title">
                                <h2>{{page.sections.i3.cards.i3.title}}</h2>
                            </div>
                            <div class="about-content">
                                <p>{{page.sections.i3.cards.i3.text | newline_to_br}}</p>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
    </section>


  <!--  <section class="grey-bg" id="section4">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i4.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i4.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i4.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section> -->


    <section id="section8" class="jkl-home-highlt grey-bg pb-70 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center mb-40">
                    <div class="section-title service-title">
                        <h2>{{page.sections.i8.title}}</h2>
<p>
    {{page.sections.i8.text | newline_to_br}}
</p>
                    </div>
                </div>
            </div>
            <div class="row portfolio-active" >
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                    <div class="portfolio-wrapper">
                      <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i8.cards.i1.image}}" class="img-fluid" alt="">
                        </div> 
<!--                         <div class="portfolio-content">
                            <h5>{{page.sections.i8.cards.i1.title}}</h5>
<p>
    {{page.sections.i8.cards.i1.text}}
</p>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i8.cards.i2.image}}" class="img-fluid" alt="">
                        </div>
<!--                         <div class="portfolio-content">
                            <h5>{{page.sections.i8.cards.i2.title}}</h5>
                            <p>
                                {{page.sections.i8.cards.i2.text}}
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i8.cards.i3.image}}" class="img-fluid" alt="">
                        </div>
<!--                         <div class="portfolio-content">
                            <h5>{{page.sections.i8.cards.i3.title}}</h5>
                            <p>
                                {{page.sections.i8.cards.i3.text}}
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i8.cards.i4.image}}" class="img-fluid" alt="">
                        </div>
<!--                         <div class="portfolio-content">
                            <h5>{{page.sections.i8.cards.i4.title}}</h5>
                            <p>
                                {{page.sections.i8.cards.i4.text}}
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i8.cards.i5.image}}" class="img-fluid" alt="">
                        </div>
<!--                         <div class="portfolio-content">
                            <h5>{{page.sections.i8.cards.i5.title}}</h5>
                            <p>
                                {{page.sections.i8.cards.i5.text}}
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i8.cards.i6.image}}" class="img-fluid" alt="">
                        </div>
<!--                         <div class="portfolio-content">
                            <h5>{{page.sections.i8.cards.i6.title}}</h5>
                            <p>
                                {{page.sections.i8.cards.i6.text}}
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section id="section5">
        <div class="container-fluid jkl-scroll-container jkl-scroll-container-academics2 pt-50 pb-50" data-hijacking="off" data-animation="rotate">
            <div class="container pt-1" style="background-color: #000000C9;">
                <div class="row">
                    <div class="col-xl-12 text-center mt-20">
                        <div class="section-title service-title jkl-academics-labs">
                            <h2>{{page.sections.i5.title}}</h2>
                        </div>
                    </div>
                </div>


                <section class=" jkl-home-about-info-white-text">
                    <div class="row pt-60">

                        <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-right">
                            <div class="jkl-home-card-img">
                                <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i1.image}}" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                            <div class="section-title">
                                <h2>{{page.sections.i5.cards.i1.title}}</h2>
                            </div>
                            <div class="about-content">
                               <p>{{page.sections.i5.cards.i1.text | newline_to_br}}</p>
                            </div>
                        </div>
                    </div>


                    <div class="row pt-60">
                        <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                            <div class="section-title">
                                <h2>{{page.sections.i5.cards.i2.title}}</h2>
                            </div>
                            <div class="about-content">
                                <p>{{page.sections.i5.cards.i2.text | newline_to_br}}</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                            <div class="jkl-home-card-img">
                                <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i2.image}}" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                </section>


            </div>
        </div>
    </section>


    <section id="section6">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i6.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i6.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i6.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
     <section id="section7">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i7.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i7.text | newline_to_br}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i7.image}}" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
