---
layout: general_page
---

<main>
    <section id="section1">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin" >
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i1.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" >
                        <div class="section-title">
                            <h2>{{page.sections.i1.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i1.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid pt-50">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xl-12 mb-40">
                        <a href="{{page.sections.i1.url}}" class="btn">Portal Link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- 4 Card Section -->
    <!--
    <section class="jkl-home-highlt grey-bg pb-70 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center mb-40">
                    <div class="section-title service-title">
                        <h2>{{page.sections.i2.title}}</h2>
                        <p>{{page.sections.i2.text  | newline_to_br }}</p>
                    </div>
                </div>
            </div>
            <div class="row portfolio-active">
                <div class="col-xl-6 col-lg-6 col-md-6 mb-30 grid-item cat-two">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i1.image}}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i2.cards.i1.title}}</h5>
                            <p>{{page.sections.i2.cards.i1.text}}</p>
                            <div class="">

                                <a class="-" style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i2.cards.i1.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 mb-30 grid-item cat-four cat-one">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i2.image}}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i2.cards.i2.title}}</h5>
                            <p>{{page.sections.i2.cards.i2.text}}</p>
                            <div class="">

                                <a class="" style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i2.cards.i2.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 mb-30 grid-item cat-one cat-five">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i3.image}}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i2.cards.i3.title}}</h5>
                            <p>{{page.sections.i2.cards.i3.text}}</p>
                            <div class="">

                                <a class="" style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i2.cards.i3.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 mb-30 grid-item cat-four">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i4.image}}"
                                 class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i2.cards.i4.title}}</h5>
                            <p>{{page.sections.i2.cards.i4.text}}</p>
                            <div class="">

                                <a class="" style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i2.cards.i4.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </section>
-->
</main>
