---
layout: general_page
---

<main style="overflow: visible">

    <section id="section1" class="grey-bg" style="overflow: hidden">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i1.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i1.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5 " >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i2.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i2.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span>
                                    <a href="tel:{{page.sections.i1.cards.i2.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i2.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i3.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i3.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span>
                                    <a href="tel:{{page.sections.i1.cards.i3.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i3.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i4.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i4.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span>
                                    <a href="tel:{{page.sections.i1.cards.i4.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i4.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>


    <!-- popup
    <section >
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Feedback
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content modal-xl">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <iframe
                                        src="https://docs.google.com/forms/d/e/1FAIpQLSdbrONDclCrMx0jCFl7Q31V3HzyaxpM_FO8RBhN5dZjgk4x8Q/viewform?embedded=true"
                                        width=100%; height="928" frameborder="0" marginheight="0"
                                        marginwidth="0">Loading...</iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <section id="section2">
        <div class="container-fluid" style="position:relative;">
            <div class="jkl-contact-us-bg"></div>
            <div class="container pt-50">
                <div class="d-flex justify-content-center">
                   <!-- <iframe
                            src="{{page.sections.i2.url}}"
                            width=100%; height="928" frameborder="0" marginheight="0"
                            marginwidth="0">Loading...</iframe> -->
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeayfgsT5f1OsYsRcv6Pbmx4m6ZcL84w6rbwbxIQQ3-1lDfCQ/viewform?embedded=true" 
                            width="640" height="930" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    

                </div>
            </div>
        </div>
        </div>
    </section>

   <section id="section1" class="grey-bg" style="overflow: hidden">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i1.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i1.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5 " >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i2.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i2.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span>
                                    <a href="tel:{{page.sections.i1.cards.i2.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i2.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i3.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i3.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span>
                                    <a href="tel:{{page.sections.i1.cards.i3.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i3.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i4.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i4.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span>
                                    <a href="tel:{{page.sections.i1.cards.i4.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i4.phone}}</a></p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>

 <section id="section2">
        <div class="container-fluid" style="position:relative;">
            <div class="jkl-contact-us-bg"></div>
            <div class="container pt-50">
                <div class="d-flex justify-content-center">
                   <!-- <iframe
                            src="{{page.sections.i2.url}}"
                            width=100%; height="928" frameborder="0" marginheight="0"
                            marginwidth="0">Loading...</iframe> -->
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeayfgsT5f1OsYsRcv6Pbmx4m6ZcL84w6rbwbxIQQ3-1lDfCQ/viewform?embedded=true" 
                            width="640" height="930" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    

                </div>
            </div>
        </div>
        </div>
    </section>


</main>
