---
layout: general_page
---

<main style="overflow: visible" class="contact-us">

    <section id="section1" class="grey-bg" style="overflow: hidden">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="col-xl-12 col-lg-12">
                              <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i1.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i1.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone}}</a></p>
                            </div>
                          </div>
                         </div>
<!--                         <div class="col-xl-12 col-lg-12">
                              <div class="col mb-5" >
                                <div class="mb-20">
                                    <h3>{{page.sections.i1.cards.i1.title}}</h3>
                                </div>
                                <div class="jkl-footer-text">
                                    <p>{{page.sections.i1.cards.i1.address | newline_to_br}}<br/>
                                        <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone}}</a></p>
                                </div>
                            </div>
                       </div> -->
                      
                    </div>
                     <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeayfgsT5f1OsYsRcv6Pbmx4m6ZcL84w6rbwbxIQQ3-1lDfCQ/viewform?embedded=true" 
                            width="640" height="930" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    

</main>
