---
layout: default
---

<header>
    <div class="jkl_header">
        {% include home_slider.html %}
        {% include navigation_bar.html %}
    </div>
</header>
<main style="overflow: visible">
    <section id="section1" class="about-area pb-60 pt-100" style="overflow: hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{{page.sections.i1.title}}</h2>
                    </div>
                    <div class="about-content">
                        <p>
                            {{page.sections.i1.text | newline_to_br}}
                        </p>
          </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-20">
                            <div class="jkl-home-about-img">
                                <img src="{{site.baseurl}}/assets/images/home-section1-img1.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-20">
                            <div class="jkl-home-about-img">
                                <img src="{{site.baseurl}}/assets/images/home-section1-img2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section2"  style="overflow: hidden">
        <div class="jkl-home-parallex d-flex align-items-center">
            <div class="container-fluid">
                <div class="container ">
                    <div class="jkl-home-about-info-white-text">
                        <h2>{{page.sections.i2.title}}</h2>
                        <p>{{page.sections.i2.text | newline_to_br}}</p>
                        <a href="{{page.sections.i2.url}}" class="btn" data-aos="fade-down" >Read More</a>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="section3" class="grey-bg" style="overflow: hidden">
        <div class="container-fluid">
            <div class="container">
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i3.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i3.text | newline_to_br}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                        <div class="jkl-home-card-img">
                        <img src="{{site.baseurl}}/assets/images/home-section3-img.jpg" class="img-fluid" alt="">
                    </div>
                    </div>
                </div>
                <div class="row pt-60" id="section4">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin"  data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/home-section4-img.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i4.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i4.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section style="overflow: hidden" id="section5">
        <div class="jkl-counter counter-area pb-100 pt-100">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-6 z-index">
                            <div class="single-counter text-center mb-30">
                                <span class="lnr lnr-graduation-hat"></span>
                                <div class="counter">{{page.sections.i5.counter.students}}</div>
                                <p>Students</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 z-index">
                            <div class="single-counter text-center mb-30">
                                <span class="lnr lnr-users"></span>
                                <div class="counter">{{page.sections.i5.counter.staffs}}</div>
                                <p>Staffs</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 z-index">
                            <div class="single-counter text-center mb-30">
                                <span class="lnr lnr-apartment"></span>
                                <div class="counter">{{page.sections.i5.counter.branches}}</div>
                                <p>Branches</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jkl-home-highlt grey-bg pb-70 pt-100" style="overflow: hidden" id="section6">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center mb-40">
                    <div class="section-title service-title">
                        <h2>{{page.sections.i6.title}}</h2>
                        <p>{{page.sections.i6.text | newline_to_br}}</p>
                    </div>
                </div>
            </div>
            <div class="row portfolio-active" >
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/home-section6-card1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i6.cards.i1.title}}</h5>
                            <p>{{page.sections.i6.cards.i1.text}}</p>
                            <div class="">

                                <a style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i6.cards.i1.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/home-section6-card2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i6.cards.i2.title}}</h5>
                            <p>{{page.sections.i6.cards.i2.text}}</p>
                            <div class="">

                                <a style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i6.cards.i2.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/home-section6-card3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i6.cards.i3.title}}</h5>
                            <p>{{page.sections.i6.cards.i3.text}}</p>
                            <div class="">

                                <a style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i6.cards.i3.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/home-section6-card4.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i6.cards.i4.title}}</h5>
                            <p>{{page.sections.i6.cards.i4.text}}</p>
                            <div class="">

                                <a style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i6.cards.i4.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/home-section6-card5.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i6.cards.i5.title}}</h5>
                            <p>{{page.sections.i6.cards.i5.text}}</p>
                            <div class="">

                                <a style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i6.cards.i5.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/home-section6-card6.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i6.cards.i6.title}}</h5>
                            <p>{{page.sections.i6.cards.i6.text}}</p>
                            <div class="">

                                <a style="font-size: 14px; font-weight: 600; color: #ff5e14;" href="{{page.sections.i6.cards.i6.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section style="position:relative;" id="section7">
        <div class="jkl-home-updates  d-flex align-items-center">
            <div class="jkl-home-updates-bg"></div>
            <div class="container-fluid">
                <div class="container ">
                    <div class="row">
                        <div class="col-xl-12 text-center mb-40">
                            <div class="jkl-home-about-info-white-text">
                                <h2>{{page.sections.i7.title}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row jkl-home-update-container">

                        {% for post in site.posts %}
                        <div class="col-xl-12 home-update-entry">
                            <span class="home-date">{{post.date |  date: "%d %b %y"  }}</span> <a href="{{post.url | prepend:site.baseurl}}"> - {{post.title}}</a>
                        </div>
                        {% endfor %}


                        <div class="col-xl-7 d-flex flex-row-reverse" style="padding-top:10px;padding-bottom:20px">
                            <a href="{{site.baseurl}}/updates/index.html"><<-- more -->></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>




</main>