---
layout: general_page
---

<main style="overflow: visible" class="contact-us">

    <section id="section1" class="grey-bg" style="overflow: hidden">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="col-xl-12 col-lg-12">
                              <div class="col mb-5" >
                            <div class="mb-20">
                                <h3>{{page.sections.i1.cards.i1.title}}</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>{{page.sections.i1.cards.i1.address | newline_to_br}}<br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone1 | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone1}}</a><br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone2 | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone2}}</a></p>
                            </div>
                          </div>
                         </div>
<!--                         <div class="col-xl-12 col-lg-12">
                              <div class="col mb-5" >
                                <div class="mb-20">
                                    <h3>{{page.sections.i1.cards.i1.title}}</h3>
                                </div>
                                <div class="jkl-footer-text">
                                    <p>{{page.sections.i1.cards.i1.address | newline_to_br}}<br/>
                                        <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:{{page.sections.i1.cards.i1.phone | remove: '-' | remove: '(' | remove: ')' }}"> {{page.sections.i1.cards.i1.phone}}</a></p>
                                </div>
                            </div>
                       </div> -->
                      
                    </div>
                     <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXNHYobDGf5AeCCicJ6XZbq6BfC-jKFmtUTuRbkXxxR-d8xg/viewform?embedded=true"         
                            width="640" height="930" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                        </div>
                    </div>
                    
<!--                      <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" >
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSehDAzW7mpBLWSfswH3sW3MeyKWb8nuAgsy2G0raRc6AkdT3A/viewform?embedded=true"         
                            width="640" height="930" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                        </div>
                    </div> -->
                   
                </div>
            </div>
        </div>
    </section>
    
<section style="position:relative;" id="section3">
        <div class="jkl-home-updates  d-flex align-items-center">
            <div class="jkl-jobs-updates-bg"></div>
            <div class="container-fluid">
                <div class="container ">
                    <div class="row">
                        <div class="col-xl-12 text-center mb-40">
                            <div class="jkl-home-about-info-white-text">
                                <h2>{{page.sections.i3.title}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row jkl-home-update-container">

                        {% for post in site.jobs %}
                        <div class="col-xl-12 home-update-entry">
                            <span class="home-date">{{post.date |  date: "%d %b %y"  }}</span> <a href="{{post.url | prepend:site.baseurl}}"> - {{post.title}}</a>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </section>     


</main>
