---
layout: general_page
---

<main>
<section id="section1" class="grey-bg">
    <div class="container-fluid">
        <div class="container">
            <div class="row pt-60">
                <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                    <div class="section-title">
                        <h2>{{page.sections.i1.title}}</h2>
                    </div>
                    <div class="about-content">
                        <p>{{page.sections.i1.text | newline_to_br}}</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                    <div class="jkl-home-card-img">
                        <img src="{{site.baseurl}}/assets/images/{{page.sections.i1.image}}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <section id="section2">
    <div class="container-fluid jkl-scroll-container" data-hijacking="off" data-animation="rotate">

        <div class="container   pt-1" >

            <section class="cd-section jkl-home-about-info-white-text ">
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin"  data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i1.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i2.cards.i1.title}}</h2>
                        </div>
                        <div class="about-content">
                        <p>{{page.sections.i2.cards.i1.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div>
            </section>
            <section class="cd-section jkl-home-about-info-white-text ">
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i2.cards.i2.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i2.cards.i2.text | newline_to_br}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i2.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="cd-section jkl-home-about-info-white-text" >
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin"  data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i3.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i2.cards.i3.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i2.cards.i3.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div>
            </section>
            <section class="cd-section jkl-home-about-info-white-text ">
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i2.cards.i4.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i2.cards.i4.text | newline_to_br}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i2.cards.i4.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>

</section>

    <section id="section3" class="jkl-home-highlt grey-bg pb-70 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center mb-40">
                    <div class="section-title service-title">
                        <h2>{{page.sections.i3.title}}</h2>
<p>
    {{page.sections.i3.text | newline_to_br}}
</p>
                    </div>
                </div>
            </div>
            <div class="row portfolio-active" >
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i1.image}}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i3.cards.i1.title}}</h5>
<p>
    {{page.sections.i3.cards.i1.text}}
</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i2.image}}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i3.cards.i2.title}}</h5>
                            <p>
                                {{page.sections.i3.cards.i2.text}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i3.image}}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i3.cards.i3.title}}</h5>
                            <p>
                                {{page.sections.i3.cards.i3.text}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i4.image}}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i3.cards.i4.title}}</h5>
                            <p>
                                {{page.sections.i3.cards.i4.text}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i5.image}}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i3.cards.i5.title}}</h5>
                            <p>
                                {{page.sections.i3.cards.i5.text}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five" >
                    <div class="portfolio-wrapper">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i3.cards.i6.image}}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-content">
                            <h5>{{page.sections.i3.cards.i6.title}}</h5>
                            <p>
                                {{page.sections.i3.cards.i6.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section4">
        <div class="jkl-yoga-parallex jkl-home-parallex d-flex align-items-center">
            <div class="container-fluid">
                <div class="container ">
                    <div class="jkl-home-about-info-white-text">
                        <h2>{{page.sections.i4.title}}</h2>
<p>{{page.sections.i4.text | newline_to_br}}</p>         <br/>
                    </div>

                    <div class="row portfolio-active" >
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two" >
                            <div class="">
                                <div class="yoga-img-thumb" data-aos="zoom-out">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i4.cards.i1.image}}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one">
                            <div class="">
                                <div class="yoga-img-thumb" data-aos="zoom-out">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i4.cards.i2.image}}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five" >
                            <div class="">
                                <div class="yoga-img-thumb" data-aos="zoom-out">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i4.cards.i3.image}}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="section5">
        <div class="jkl-extra-activity-parallex  d-flex align-items-center">
            <div class="container-fluid">
                <div class="container ">
                    <div class="jkl-home-about-info-white-text">
                        <h2>{{page.sections.i5.title}}</h2>
<p>{{page.sections.i5.text | newline_to_br}}</p>                        <br/>
                    </div>

                    <div class="row portfolio-active" >
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-thumb">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i1.image}}" class="img-fluid" alt="">
                                </div>
                                <div class="portfolio-content">
                                    <h5>{{page.sections.i5.cards.i1.title}}</h5>
                                    <p>
                                        {{page.sections.i5.cards.i1.text}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one" >
                            <div class="portfolio-wrapper">
                                <div class="portfolio-thumb">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i2.image}}" class="img-fluid" alt="">
                                </div>
                                <div class="portfolio-content">
                                    <h5>{{page.sections.i5.cards.i2.title}}</h5>
                                    <p>
                                        {{page.sections.i5.cards.i2.text}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five" >
                            <div class="portfolio-wrapper">
                                <div class="portfolio-thumb">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i3.image}}" class="img-fluid" alt="">
                                </div>
                                <div class="portfolio-content">
                                    <h5>{{page.sections.i5.cards.i3.title}}</h5>
                                    <p>
                                        {{page.sections.i5.cards.i3.text}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four" >
                            <div class="portfolio-wrapper">
                                <div class="portfolio-thumb">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i4.image}}" class="img-fluid" alt="">
                                </div>
                                <div class="portfolio-content">
                                    <h5>{{page.sections.i5.cards.i4.title}}</h5>
                                    <p>
                                        {{page.sections.i5.cards.i4.text}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one" >
                            <div class="portfolio-wrapper">
                                <div class="portfolio-thumb">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i5.image}}" class="img-fluid" alt="">
                                </div>
                                <div class="portfolio-content">
                                    <h5>{{page.sections.i5.cards.i5.title}}</h5>
                                    <p>
                                        {{page.sections.i5.cards.i5.text}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five" >
                            <div class="portfolio-wrapper">
                                <div class="portfolio-thumb">
                                    <img src="{{site.baseurl}}/assets/images/{{page.sections.i5.cards.i6.image}}" class="img-fluid" alt="">
                                </div>
                                <div class="portfolio-content">
                                    <h5>{{page.sections.i5.cards.i6.title}}</h5>
                                    <p>
                                        {{page.sections.i5.cards.i6.text}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        </div>
    </section>

    <section id="section6" class="">
        <div class="container-fluid pt-50">
            <div class="container">
               <div class="row">
                <div class="col-xl-12 text-center mb-40">
                    <div class="section-title service-title">
                        <h2>{{page.sections.i6.title}}</h2>
<p>{{page.sections.i6.text}}</p>                    </div>
                </div>
            </div>
                <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i6.cards.i1.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i6.cards.i1.text | newline_to_br}}</p></div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin " data-aos="fade-left">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i6.cards.i1.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            <!--  <div class="row pt-60">
                    <div class="col-xl-6 col-lg-6 mb-20 md-margin"  data-aos="fade-right">
                        <div class="jkl-home-card-img">
                            <img src="{{site.baseurl}}/assets/images/{{page.sections.i6.cards.i2.image}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                        <div class="section-title">
                            <h2>{{page.sections.i6.cards.i2.title}}</h2>
                        </div>
                        <div class="about-content">
                            <p>{{page.sections.i6.cards.i2.text | newline_to_br}}</p>
                        </div>
                    </div>

                </div> -->

            </div>
        </div>
    </section>



</main>
